<div class="settings-widget">
    <div class="settings-header d-sm-flex flex-row flex-wrap text-center text-sm-start align-items-center">
        <img alt="profile image" src="assets/img/img-04.jpg" class="avatar-lg rounded-circle">
        <div class="ms-sm-3 ms-md-0 ms-lg-3 mt-2 mt-sm-0 mt-md-2 mt-lg-0">
            <p class="mb-2">Bienvenue,</p>
            <h3 class="mb-0">{{user.firstname + ' '+ user.lastname}}</h3>
            <p class="mb-0">@freelancerKone</p>
        </div>
    </div>

    <div class="settings-menu">
        <ul>
            <li class="nav-item">
                <a [routerLink]="[RouteName.Base, RouteName.Freelancer, RouteName.Dashboard]" routerLinkActive="active" class="nav-link">
                    <i class="material-icons">verified_user</i> Tableau de bord
                </a>
            </li>
            <li class="nav-item">
                <a [routerLink]="[RouteName.Base, RouteName.Freelancer, RouteName.Projects]" routerLinkActive="active" class="nav-link">
                    <i class="material-icons">business_center</i> Projets
                </a>
            </li>
            <li class="nav-item">
                <a [routerLink]="[RouteName.Base, RouteName.Freelancer, RouteName.Membership]" routerLinkActive="active" class="nav-link">
                    <i class="material-icons">person_add</i> Adhésion
                </a>
            </li>
            <li class="nav-item">
                <a [routerLink]="[RouteName.Base, RouteName.Freelancer, RouteName.Identity]" routerLinkActive="active" class="nav-link">
                    <i class="material-icons">person_pin</i> Vérification d'identité
                </a>
            </li>
            <li class="nav-item">
                <a [routerLink]="[RouteName.Base, RouteName.Freelancer, RouteName.Payments]" routerLinkActive="active" class="nav-link">
                    <i class="material-icons">wifi_tethering</i> Paiements
                </a>
            </li>
            <li class="nav-item">
                <a [routerLink]="[RouteName.Base, RouteName.Freelancer, RouteName.Settings]" routerLinkActive="active" class="nav-link">
                    <i class="material-icons">settings</i> Réglages
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="SignOut()">
                    <i class="material-icons">power_settings_new</i> Se déconnecter
                </a>
            </li>
        </ul>
    </div>
</div>
