<!-- Footer -->
<footer class="footer">
    <div class="footer-top">
        <div class="container">

            <div class="row">
                <div class="col-md-3">
                    <h2 class="footer-title">{{'footer.office-address' | transloco}}</h2>
                    <div class="footer-address">
                        <div class="off-address">
                            <p class="mb-2">II Plateaux, Abidjan, Côte d'Ivoire</p>
<!--                            <address class="mb-0">750 Sing Sing Rd, Horseheads, NY, 14845</address>-->
                            <p>{{'footer.number' | transloco}}: <a href="#"><u>+225 27 22 41 02 13</u></a></p>
                        </div>
<!--                        <div class="off-address">-->
<!--                            <p class="mb-2">Sydney, Australia </p>-->
<!--                            <address class="mb-0">24 Farrar Parade COOROW WA 6515</address>-->
<!--                            <p>Call: <a href="#"><u>(08) 9064 9807</u> (Toll-free)</a></p>-->
<!--                        </div>-->
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="footer-widget footer-menu">
                        <h2 class="footer-title">{{'footer.useful-links' | transloco}}</h2>
                        <ul>
                            <li [routerLink]="[RouteName.Base, RouteName.AboutUs]"><a>{{'footer.about-us' | transloco}}</a></li>
                            <li [routerLink]="[RouteName.Base, RouteName.Faq]"><a>{{'footer.faq' | transloco}}</a></li>
                            <!--                            <li><a [routerLink]="'/blog-list'">Blog</a></li>-->
<!--                            <li><a [routerLink]="'/login'">Login</a></li>-->
<!--                            <li><a [routerLink]="'/register'">Register</a></li>-->
<!--                            <li><a [routerLink]="'/forgot-password'">Forgot Password</a></li>-->
                        </ul>
                    </div>
                </div>
<!--                <div class="col-lg-4">-->
<!--                    <div class="footer-widget footer-menu">-->
<!--                        <h2 class="footer-title">{{'footer.categories' | transloco}}</h2>-->
<!--                        <ul>-->
<!--&lt;!&ndash;                            <li><a [routerLink]="'/chats'">Chat</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                            <li><a [routerLink]="[RouteName.Base, RouteName.Faq]">{{'footer.faq' | translate}}</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                            <li><a [routerLink]="'/review'">Reviews</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                            <li><a [routerLink]="'/privacy-policy'">Privacy Policy</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                            <li><a [routerLink]="'/term-condition'">Terms of use</a></li>&ndash;&gt;-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-lg-2">-->
<!--                    <div class="footer-widget footer-menu">-->
<!--                        <h2 class="footer-title">Other Links</h2>-->
<!--                        <ul>-->
<!--&lt;!&ndash;                            <li><a [routerLink]="'/freelancer-dashboard'">Freelancers</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                            <li><a [routerLink]="'/freelancer-portfolio'">Freelancer Details</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                            <li><a [routerLink]="'/project'">Project</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                            <li><a [routerLink]="'/project-details'">Project Details</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                            <li><a [routerLink]="'/post-project'">Post Project</a></li>&ndash;&gt;-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                </div>-->
                <div class="col-lg-3">
                    <div class="footer-widget footer-menu">
                        <h2 class="footer-title">{{'footer.mobile-app' | transloco}}</h2>
                        <p>{{'footer.mobile-app-text' | transloco}}</p>
                        <div class="row g-2">
                            <div class="col">
                                <a href="#"><img class="img-fluid" src="../../../../assets/img/app-store.svg"
                                                 alt="app-store"></a>
                            </div>
                            <div class="col">
                                <a href="#"><img class="img-fluid" src="../../../../assets/img/google-play.svg"
                                                 alt="google-play"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Footer Top -->

    <!-- Footer Bottom -->
    <div class="footer-bottom">
        <div class="container">

            <!-- Copyright -->
            <div class="copyright">
                <div class="row">
                    <div class="col-md-6 col-lg-6">
                        <div class="copyright-text">
                            <p class="mb-0">&copy; 2022 All Rights Reserved</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 right-text">
                        <div class="social-icon">
                            <ul>
                                <li><a href="#" class="icon" target="_blank"><i class="fab fa-instagram"></i> </a></li>
                                <li><a href="#" class="icon" target="_blank"><i class="fab fa-linkedin-in"></i> </a>
                                </li>
                                <li><a href="#" class="icon" target="_blank"><i class="fab fa-twitter"></i> </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Copyright -->
        </div>
    </div>
    <!-- /Footer Bottom -->
</footer>
<!-- /Footer -->
