<!-- Page Content -->
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">

                <!-- Forgot Password Content -->
                <div class="account-content">
                    <div class="align-items-center justify-content-center">
                        <div class="login-right">
                            <div class="login-header text-center">
                                <a [routerLink]="[RouteName.Base]">
                                    <img src="assets/img/logo.png" alt="logo" class="img-fluid">
                                </a>

                                <h3>{{'auth.forgot-password-page.description' | transloco}}</h3>
                                <p>{{'auth.forgot-password-page.sub-description' | transloco}}</p>
                            </div>
                            <form style="margin-bottom: 3rem">
                                <div class="form-group form-focus">
                                    <input type="email" class="form-control floating">
                                    <label class="focus-label">Email</label>
                                </div>

                                <button class="btn btn-primary btn-block btn-lg login-btn">
                                    {{'auth.forgot-password-page.search-button' | transloco}}
                                </button>

                                <div class="row form-row">
                                    <div class="col-6 text-start">
                                        <a class="forgot-link"
                                           [routerLink]="[RouteName.Base, RouteName.Auth, RouteName.Login]">
                                            {{'auth.forgot-password-page.login' | transloco}}
                                        </a>
                                    </div>
                                    <div class="col-6 text-end dont-have">
                                        {{'auth.login.new-user-text' | transloco}}
                                        <a [routerLink]="[RouteName.Base, RouteName.Auth, RouteName.Register]">
                                            {{'auth.login.register' | transloco}}
                                        </a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- /Forgot Password Content -->
            </div>
        </div>
    </div>
</div>
<!-- /Page Content -->
