<div class="setting-content">
    <form [formGroup] = 'freelanceProfile'>
        <div class="card">
            <div class="pro-head">
                <h3 class="pro-title without-border mb-0">Profile Basics </h3>
            </div>
            <div class="pro-body">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label>Username</label>
                        <input type="text" class="form-control" formcontrolName='$profiletitle'>
                    </div>
                    <!-- <div class="form-group col-md-6">
                        <label>Email Address</label>
                        <input type="email" class="form-control">

                    </div>
                    <div class="form-group col-md-6">
                        <label>Dispaly Name</label>
                        <input type="text" class="form-control" formcontrolName='dname'>
                    </div> -->
                    <!-- <div class="form-group col-md-6">
                        <label>Designation</label>
                        <input type="email" class="form-control" formcontrolName='uslug'>

                    </div> -->
                    <div class="form-group col-md-6">
                        <label>Hourly Rate</label>
                        <input type="text" class="form-control" formcontrolName=' $rateperhour'>
                        <p class="light-pink-text mb-0">Provide your hourly rate without currency symbol</p>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Contact Number</label>
                        <input type="email" class="form-control" formcontrolName='$phone'>

                    </div>
                    <div class="form-group col-md-6">
                        <label>Gender</label>
                        <ng-select2 width="100%" class="select" >
                            <option value="0">Male</option>
                            <option value="1" >Female</option>
                        </ng-select2>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Type</label>
                        <ng-select2 width="100%" class="select" formcontrolName='$favoritefreelancer'>
                            <option value="0">Select Freelancer Type</option>
                            <option value="1" >Freelancer</option>
                        </ng-select2>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Language </label>
                        <input type="text" class="form-control" formcontrolName='$languages'>
                    </div>
                </div>
                <div class="form-row pro-pad pt-0">
                    <div class="form-group col-md-6 pro-pic">
                        <label>Profile Picture</label>
                        <div class="d-flex align-items-center">
                            <div class="upload-images">
                                <img src="assets/img/img-02.jpg" alt="Image">
                                <a href="javascript:void(0);" class="btn btn-icon btn-danger btn-sm"><i class="far fa-trash-alt"></i></a>
                            </div>
                            <label class="file-upload image-upbtn ms-3">
                                Change Image <input type="file">
                            </label>
                        </div>
                        <p>Image size 300*300</p>
                    </div>
                    <div class="form-group col-md-6 pro-pic">
                        <label>Banner Image</label>
                        <div class="d-flex align-items-center">
                            <div class="upload-images">
                                <img src="assets/img/img-02.jpg" alt="Image">
                                <a href="javascript:void(0);" class="btn btn-icon btn-danger btn-sm"><i class="far fa-trash-alt"></i></a>
                            </div>
                            <label class="file-upload image-upbtn ms-3">
                                Change Image <input type="file">
                            </label>
                        </div>
                        <p>Image size 1024*100</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="pro-head">
                <h3 class="pro-title without-border mb-0">Location</h3>
            </div>
            <div class="pro-body">
                <div class="row">
                    <div class="form-group col-md-12">
                        <label>Address</label>
                        <input type="text" class="form-control" formcontrolName='$address'>
                    </div>
                    <div class="form-group col-md-6">
                        <label>State</label>
                        <input type="text" class="form-control" formcontrolName='$city'>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Zipcode</label>
                        <input type="text" class="form-control" formcontrolName='$countrycode'>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Country</label>
                        <ng-select2 width="100%" class="select" formcontrolName='$country'>
                            <option value="0">India</option>
                            <option value="1" >China</option>
                            <option value="2">Japan</option>
                        </ng-select2>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="pro-head">
                <h3 class="pro-title without-border mb-0">Overview</h3>
            </div>
            <div class="pro-body">
                <div class="row">
                    <div class="form-group col-md-12">
                        <textarea class="form-control" rows="5" formcontrolName='$description'></textarea>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-12 col-xl-4 d-flex">
                <div class="pro-card flex-fill mb-3">
                    <div class="pro-head">
                        <h3 class="pro-title without-border mb-0">Skills</h3>
                        <a href="#" class="btn fund-btn skill-add">Add More</a>
                    </div>
                    <div class="pro-body skill-info">
                        <div class="form-row align-items-center skill-cont">
                            <div class="form-group col-md-10">
                                <input type="text" class="form-control" value="Front End Developer" formcontrolName='$skills'>
                            </div>
                            <div class="form-group col-md-2">
                                <a href="#" class="btn trash-icon"><i class="far fa-trash-alt"></i></a>
                            </div>
                        </div>
                        <!-- <div class="form-row align-items-center skill-cont">
                            <div class="form-group col-md-10">
                                <input type="text" class="form-control" value="Front End Developer">
                            </div>
                            <div class="form-group col-md-2">
                                <a href="#" class="btn trash-icon"><i class="far fa-trash-alt"></i></a>
                            </div>
                        </div>
                        <div class="form-row align-items-center skill-cont">
                            <div class="form-group col-md-10">
                                <input type="text" class="form-control" value="Front End Developer">
                            </div>
                            <div class="form-group col-md-2">
                                <a href="#" class="btn trash-icon"><i class="far fa-trash-alt"></i></a>
                            </div>
                        </div>
                        <div class="form-row align-items-center skill-cont">
                            <div class="form-group col-md-10">
                                <input type="text" class="form-control" value="Front End Developer">
                            </div>
                            <div class="form-group col-md-2">
                                <a href="#" class="btn trash-icon"><i class="far fa-trash-alt"></i></a>
                            </div>
                        </div>
                        <div class="form-row align-items-center skill-cont">
                            <div class="form-group col-md-10">
                                <input type="text" class="form-control" value="Front End Developer">
                            </div>
                            <div class="form-group col-md-2">
                                <a href="#" class="btn trash-icon"><i class="far fa-trash-alt"></i></a>
                            </div>
                        </div>
                        <div class="form-row align-items-center skill-cont">
                            <div class="form-group col-md-10">
                                <input type="text" class="form-control" value="Front End Developer">
                            </div>
                            <div class="form-group col-md-2">
                                <a href="#" class="btn trash-icon"><i class="far fa-trash-alt"></i></a>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>

            <div class="col-md-12 col-xl-8">
                <div class="card">
                    <div class="pro-head">
                        <h3 class="pro-title without-border mb-0">Awards / Certificates</h3>
                        <a href="#" class="btn fund-btn add-award">Add More</a>
                    </div>
                    <div class="pro-body  award-info">
                        <div class="form-row align-items-center award-cont">
                            <div class="form-group col-md-2">
                                <img alt="profile image" src="assets/img/img.jpg" class="avatar-medium">
                            </div>
                            <div class="form-group col-md-5">
                                <input type="text" class="form-control" value="Best Game Designer" formcontrolName='$certificates'>
                            </div>
                            <div class="form-group col-md-3">
                                <input type="text" class="form-control datetimepicker" value="05/10/2020">
                            </div>
                            <div class="form-group col-md-2">
                                <a href="#" class="btn trash-icon"><i class="far fa-trash-alt"></i></a>
                            </div>
                        </div>
                        <!-- <div class="form-row align-items-center award-cont">
                            <div class="form-group col-md-2">
                                <img alt="profile image" src="assets/img/img.jpg" class="avatar-medium">
                            </div>
                            <div class="form-group col-md-5">
                                <input type="text" class="form-control" value="Best Game Designer">
                            </div>
                            <div class="form-group col-md-3">
                                <input type="text" class="form-control datetimepicker" value="05/10/2020">
                            </div>
                            <div class="form-group col-md-2">
                                <a href="#" class="btn trash-icon"><i class="far fa-trash-alt"></i></a>
                            </div>
                        </div>
                        <div class="form-row align-items-center award-cont">
                            <div class="form-group col-md-2">
                                <img alt="profile image" src="assets/img/img.jpg" class="avatar-medium">
                            </div>
                            <div class="form-group col-md-5">
                                <input type="text" class="form-control" value="Best Game Designer">
                            </div>
                            <div class="form-group col-md-3">
                                <input type="text" class="form-control datetimepicker" value="05/10/2020">
                            </div>
                            <div class="form-group col-md-2">
                                <a href="#" class="btn trash-icon"><i class="far fa-trash-alt"></i></a>
                            </div>
                        </div> -->
                    </div>
                </div>

                <div class="card">
                    <div class="pro-head">
                        <h3 class="pro-title without-border mb-0">Languages</h3>
                        <a href="#" class="btn fund-btn add-lang">Add More</a>
                    </div>
                    <div class="pro-body  lang-info">
                        <div class="form-row align-items-center lang-cont">
                            <div class="form-group col-md-7">
                                <input type="text" class="form-control" value="English" formcontrolName='$certificates'>
                            </div>
                            <div class="form-group col-md-3">
                                <input type="text" class="form-control" value="100">
                            </div>
                            <div class="form-group col-md-2">
                                <a href="#" class="btn trash-icon"><i class="far fa-trash-alt"></i></a>
                            </div>
                        </div>
                        <!-- <div class="form-row align-items-center lang-cont">
                            <div class="form-group col-md-7">
                                <input type="text" class="form-control" value="Russian">
                            </div>
                            <div class="form-group col-md-3">
                                <input type="text" class="form-control" value="90">
                            </div>
                            <div class="form-group col-md-2">
                                <a href="#" class="btn trash-icon"><i class="far fa-trash-alt"></i></a>
                            </div>
                        </div>
                        <div class="form-row align-items-center lang-cont">
                            <div class="form-group col-md-7">
                                <input type="text" class="form-control" value="Germany">
                            </div>
                            <div class="form-group col-md-3">
                                <input type="text" class="form-control" value="90">
                            </div>
                            <div class="form-group col-md-2">
                                <a href="#" class="btn trash-icon"><i class="far fa-trash-alt"></i></a>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="pro-head">
                <h3 class="pro-title without-border mb-0">Experience</h3>
                <a href="#" class="btn fund-btn add-exp">Add More</a>
            </div>
            <div class="pro-body">
                <div class="exp-info">
                    <div class="row exp-cont">
                        <div class="form-group col-md-6">
                            <label>Title</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group col-md-6">
                            <label>Company name</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group col-md-6">
                            <label>Start date</label>
                            <input type="text" class="form-control datetimepicker" placeholder="Select Date">
                        </div>
                        <div class="form-group col-md-6">
                            <label>End Date</label>
                            <input type="text" class="form-control datetimepicker" placeholder="Select Date">
                        </div>
                        <div class="form-group col-md-12">
                            <label class="custom_check">
                                <input type="checkbox" name="rem_password">
                                <span class="checkmark"></span> I'm currently working here
                            </label>
                        </div>
                        <div class="form-group col-md-12">
                            <label>Summary</label>
                            <textarea class="form-control" rows="5"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="pro-head">
                <h3 class="pro-title without-border mb-0">Educational Details</h3>
                <a href="#" class="btn fund-btn">Add More Skills</a>
            </div>
            <div class="pro-body">
                <div class="row">
                    <div class="form-group col-md-12">
                        <label>Degree Title</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group col-md-6">
                        <label>University/College</label>
                        <ng-select2 width="100%" class="select">
                            <option value="0">Select University/College </option>
                            <option value="1" >University</option>
                            <option value="2">University</option>
                        </ng-select2>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Start year</label>
                        <input type="text" class="form-control datetimepicker">
                    </div>
                    <div class="form-group col-md-6">
                        <label>End year</label>
                        <input type="text" class="form-control datetimepicker">
                    </div>
                    <div class="form-group col-md-12">
                        <label>Summary</label>
                        <textarea class="form-control" rows="5"></textarea>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="pro-head">
                <h3 class="pro-title without-border mb-0">Social Links</h3>
            </div>
            <div class="pro-body">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label>Facebook</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Dribble</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Twitter</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group col-md-6">
                        <label>LinkedIn</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Behance</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Behance</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>
        </div>

        <div class="card text-end">
            <div class="pro-body">
                <button class="btn btn-secondary click-btn btn-plan">Cancel</button>
                <button class="btn btn-primary click-btn btn-plan ms-1" (click)="sendFreelanceInfo()">Update</button>
            </div>
        </div>
    </form>
</div>

